.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background-color: #262823;
  color: #89847a;
  font-family: Saira Light, Helvetica Neue, Arial; }

.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

.icon-button {
  flex: 1;
  position: relative;
  display: block;
  padding: 0 1rem 0 1rem;
  margin-right: -1rem;
  left: 0;
  top: 0; }
  .icon-button.hidden {
    display: none; }
  .icon-button svg {
    width: 2rem;
    height: 2rem; }
  .icon-button.chrome-warning:after {
    content: '!';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #262823;
    line-height: 2rem;
    font-size: 22px;
    text-shadow: 2px 2px 0 #c1422e, 0px 0 #c1422e, -2px 2px 0 #c1422e, -4px 0 #c1422e, 2px 0 0 #c1422e, 0 2px 0 #c1422e, -2px 0 0 #c1422e, -2px 0 #c1422e; }
  .icon-button.chrome-warning:hover:after {
    text-shadow: 2px 2px 0 #ff2200, 0px 0 #ff2200, -2px 2px 0 #ff2200, -4px 0 #ff2200, 2px 0 0 #ff2200, 0 2px 0 #ff2200, -2px 0 0 #ff2200, -2px 0 #ff2200; }

.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

.tag-button {
  cursor: pointer; }
  .tag-button:hover, .tag-button:visited {
    color: #fff; }
    .tag-button:hover a, .tag-button:visited a {
      color: #fff; }
  .tag-button.creator a {
    font-weight: normal; }
  .tag-button .title {
    vertical-align: 1px; }
  .tag-button span.circle-left, .tag-button div.circle-left {
    margin-left: 0;
    margin-right: 1rem; }
  .tag-button svg.close {
    height: 1.25rem;
    margin-left: 1rem; }

.score-wrapper, .bars {
  display: flex;
  flex-direction: row;
  align-items: center; }

.bars {
  height: 2.5rem;
  padding: 3px;
  width: calc((0.6rem + 6px) * 9 + 6px + 0.75rem);
  border-radius: 8px;
  border: 1px solid;
  margin-right: 1rem; }
  .bars .bar {
    background-color: #983424;
    margin: 0 3px;
    height: 92%;
    width: 8px;
    border-radius: 2px; }
    .bars .bar:last-child {
      background-color: #c1422e;
      width: 10px;
      height: 100%; }

.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

.overlay {
  position: fixed;
  left: 0;
  z-index: 3;
  top: 7rem;
  height: calc(100% - 7rem);
  background-color: rgba(19, 20, 17, 0.6);
  display: none;
  width: 100%; }
  .overlay:hover {
    display: flex; }
  .overlay .info-box {
    padding: 1rem;
    box-shadow: 0 20px 48px 0 #131411;
    background-color: rgba(19, 20, 17, 0.9);
    height: 75%;
    width: 100vw;
    display: flex;
    flex-direction: column; }
    .overlay .info-box .header {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem; }
      .overlay .info-box .header svg {
        width: 4rem;
        margin-right: 1rem; }
      .overlay .info-box .header .title h1 {
        display: inline-block; }
      .overlay .info-box .header .title .version, .overlay .info-box .header .title .validation {
        margin-left: 1rem; }
      .overlay .info-box .header .title .validation {
        color: #c1422e;
        font-weight: bold; }
      .overlay .info-box .header .title .subtitle {
        display: block;
        font-style: italic; }
        .overlay .info-box .header .title .subtitle b {
          color: #c1422e; }
    .overlay .info-box p {
      margin-left: 1rem;
      margin-right: 1rem; }
    .overlay .info-box .pane ul {
      padding-left: 20px; }
      .overlay .info-box .pane ul .control {
        position: relative;
        padding-bottom: 1rem; }
        .overlay .info-box .pane ul .control.checkbox {
          display: flex;
          align-items: center; }
        .overlay .info-box .pane ul .control input.dimensions {
          text-align: center;
          width: 4rem;
          margin-right: 5px; }
        .overlay .info-box .pane ul .control input.path {
          width: 50%; }
      .overlay .info-box .pane ul a.tag-button {
        margin-left: 0; }
    .overlay .info-box ul {
      list-style: none; }
      .overlay .info-box ul.symbol-list {
        overflow: auto; }
        .overlay .info-box ul.symbol-list li {
          margin-bottom: 1rem;
          position: relative; }
          .overlay .info-box ul.symbol-list li .title {
            font-weight: bold; }
          .overlay .info-box ul.symbol-list li svg {
            width: 1.25rem;
            position: absolute;
            left: -2.25rem; }
    .overlay .info-box:after {
      content: '';
      bottom: 100%;
      right: 1rem;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      border-color: rgba(19, 20, 17, 0);
      border-bottom-color: rgba(19, 20, 17, 0.9);
      border-width: 1rem;
      margin-left: -1rem; }
  .overlay.chrome-warning .info-box .header .icon {
    position: relative; }
    .overlay.chrome-warning .info-box .header .icon:after {
      content: '!';
      position: absolute;
      color: #262823;
      left: 0;
      width: calc(100% - 1rem);
      text-align: center;
      line-height: 4rem;
      font-weight: bold;
      font-size: 40px;
      text-shadow: 3px 3px 0 #89847a, 0px 0 #89847a, -3px 3px 0 #89847a, -6px 0 #89847a, 3px 0 0 #89847a, 0 3px 0 #89847a, -3px 0 0 #89847a, -3px 0 #89847a; }
  .overlay.chrome-warning .info-box:after {
    right: 7rem; }
  .overlay.settings .info-box .pane {
    flex: 1;
    overflow: auto; }
  .overlay.settings .info-box .buttons {
    display: flex;
    margin-top: 5px; }
  .overlay.settings .info-box:after {
    right: 4rem; }

.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

.toolbar {
  position: fixed;
  height: 5rem;
  top: 0;
  background-color: #262823;
  padding: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  box-shadow: 0 5px 20px -1px #89847a;
  flex-direction: row;
  z-index: 3;
  overflow: hidden; }
  .toolbar .current-filter, .toolbar .sort-filter {
    flex: 1; }
  .toolbar .current-filter-title .count {
    margin-left: 1rem; }
  .toolbar .sort-options {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .toolbar .sort-options .sort-order {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 1rem;
      cursor: pointer;
      color: #c1422e;
      padding: 8px;
      border: 1px solid;
      border-radius: 5px; }
  .toolbar > .info {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse; }
    .toolbar > .info a.icon-button.info:hover ~ .overlay.info, .toolbar > .info a.icon-button.chrome-warning:hover ~ .overlay.chrome-warning, .toolbar > .info a.icon-button.settings:hover ~ .overlay.settings {
      display: flex; }
  .toolbar .game-controls, .toolbar .catalog {
    display: flex;
    flex: 1;
    flex-direction: row; }
  .toolbar .game-controls {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    right: 7rem; }
    .toolbar .game-controls > .title {
      flex: 1;
      text-align: center;
      overflow: hidden; }
      .toolbar .game-controls > .title h3, .toolbar .game-controls > .title span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .toolbar .game-controls .flash-controls {
      max-height: 4rem; }
      .toolbar .game-controls .flash-controls .tag-button {
        margin-right: 0; }
        .toolbar .game-controls .flash-controls .tag-button svg {
          height: 2rem;
          display: block; }

.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

.games-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  white-space: nowrap;
  overflow-y: hidden;
  background: linear-gradient(to bottom, #131411 0%, #353832 100%); }
  .games-wrapper .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none; }
    .games-wrapper .bg svg {
      opacity: 0.06; }
  .games-wrapper .loading-icon {
    position: absolute;
    left: 50%;
    height: calc(100vh - 5rem - 25vh);
    transform: translateX(-50%);
    display: flex;
    align-items: center; }
    .games-wrapper .loading-icon.hidden {
      display: none; }
    .games-wrapper .loading-icon > div {
      flex: 1; }
    .games-wrapper .loading-icon img {
      filter: invert(0.53) sepia(0.1) saturate(3.43) hue-rotate(2deg) brightness(0.96) contrast(0.86); }
      .games-wrapper .loading-icon img:after {
        content: "Loading..."; }
  .games-wrapper .tags {
    white-space: normal; }
  .games-wrapper .mithril-infinite__content, .games-wrapper .mithril-infinite__page, .games-wrapper .mithril-infinite__padding-before, .games-wrapper .mithril-infinite__padding-after {
    display: inline-block; }
  .games-wrapper .fg-infinite-scroll, .games-wrapper .mithril-infinite__page, .games-wrapper .mithril-infinite__scroll-content, .games-wrapper .mithril-infinite__content, .games-wrapper .mithril-infinite__pages {
    height: 100%;
    vertical-align: top; }
  .games-wrapper .game-item {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100%; }
    .games-wrapper .game-item .container {
      height: calc(100% - 3rem);
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem 1rem 1rem; }
  .games-wrapper .creator, .games-wrapper h1 {
    text-align: center; }
  .games-wrapper h1 {
    text-overflow: ellipsis;
    overflow: hidden; }
  .games-wrapper .description {
    text-align: justify;
    width: calc(100% - 2rem); }
  .games-wrapper .description, .games-wrapper .tags {
    flex: 1;
    overflow: auto;
    white-space: normal; }
  .games-wrapper .difficulty {
    margin: 0 0 1rem 1rem; }
    .games-wrapper .difficulty .title {
      text-align: left; }
  .games-wrapper .notes, .games-wrapper .types-wrapper {
    margin-left: 1rem; }
  .games-wrapper .types-wrapper svg {
    width: 1.25rem;
    vertical-align: -3px;
    margin: 0 3px; }
  .games-wrapper .entry, .games-wrapper .tags, .games-wrapper .description {
    padding: 1rem; }
  .games-wrapper .entry {
    display: flex;
    flex-direction: row;
    position: relative; }
    .games-wrapper .entry svg {
      width: 1.25rem;
      height: 100%;
      margin-right: 8px; }
  .games-wrapper .play {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0; }
    .games-wrapper .play .tag-button {
      text-transform: uppercase;
      font-weight: bold; }
      .games-wrapper .play .tag-button .circle svg {
        margin-left: 0; }
  .games-wrapper .error {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c1422e;
    font-size: 24px; }

.tag-button, select {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #c1422e;
  color: #fff;
  display: inline-block;
  border: none;
  font-weight: normal; }
  .tag-button a, select a, .tag-button a:visited, select a:visited {
    color: #fff; }

.tag-button .circle-expandable, .tag-button .circle-creator, .tag-button .circle, .tag-button .circle-left {
  background-color: #983424;
  border-radius: calc(1.25rem + 6px);
  height: calc(1.25rem + 6px);
  width: calc(1.25rem + 6px);
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 1px 2px 0 #262823 inset; }
  .tag-button .circle-expandable svg, .tag-button .circle-creator svg, .tag-button .circle svg, .tag-button .circle-left svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 3px 0 0 3px; }

.tag-button .circle-expandable {
  padding: 0 10px;
  width: auto;
  font-weight: bold; }

.tag-button .hidden.circle-creator {
  width: 0;
  height: calc(1.25rem + 3px); }

.filters-wrapper {
  position: fixed;
  bottom: 0;
  background-color: #262823;
  height: 25%;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .filters-wrapper .tabs {
    display: flex;
    flex-direction: row;
    height: 3rem;
    background-color: #353832; }
    .filters-wrapper .tabs .tab-title {
      height: 100%;
      line-height: 3rem;
      padding: 0 1rem;
      cursor: pointer;
      margin: 1px 1px 0 1px; }
      .filters-wrapper .tabs .tab-title.selected {
        margin: 0;
        color: #c1422e;
        z-index: 1;
        background-color: #262823;
        border-radius: 8px 8px 0 0;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid; }
      .filters-wrapper .tabs .tab-title svg {
        width: 1.25rem;
        height: 100%;
        margin-right: 1rem; }
      .filters-wrapper .tabs .tab-title span {
        vertical-align: 1rem; }
  .filters-wrapper .tab-panel {
    flex: 1;
    color: #c1422e;
    margin-top: -1px;
    border-top: 1px solid;
    padding-top: 1rem;
    height: 100%;
    min-height: 0; }
  .filters-wrapper .tab-wrapper {
    display: none;
    overflow: auto;
    height: 100%; }
    .filters-wrapper .tab-wrapper.selected {
      display: block; }

.game.fg-viewer-wrapper {
  padding-top: 4rem;
  height: calc(100% - 4rem); }
  .game.fg-viewer-wrapper .toolbar {
    height: 2rem; }
    .game.fg-viewer-wrapper .toolbar .game-controls {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }
  .game.fg-viewer-wrapper .current-filter, .game.fg-viewer-wrapper .sort-filter, .game.fg-viewer-wrapper .fg-infinite-scroll, .game.fg-viewer-wrapper .filters-wrapper {
    opacity: 0;
    pointer-events: none; }
  .game.fg-viewer-wrapper .info {
    cursor: not-allowed; }
    .game.fg-viewer-wrapper .info .icon-button.info, .game.fg-viewer-wrapper .info .icon-button.settings, .game.fg-viewer-wrapper .info .icon-button.chrome-warning {
      opacity: 0.25;
      pointer-events: none; }

.game .embed-wrapper {
  visibility: visible; }

.game.transition .toolbar .game-controls {
  visibility: visible; }

.game:not(.transition) .current-filter, .game:not(.transition) .sort-filter, .game:not(.transition) .fg-infinite-scroll, .game:not(.transition) .filters-wrapper {
  visibility: hidden; }

.fg-viewer-wrapper {
  transition: height 1s, padding-top 1s; }
  .fg-viewer-wrapper .toolbar {
    transition: height 1s; }
  .fg-viewer-wrapper .game-controls, .fg-viewer-wrapper .current-filter, .fg-viewer-wrapper .sort-filter, .fg-viewer-wrapper .fg-infinite-scroll, .fg-viewer-wrapper .info a.icon-button, .fg-viewer-wrapper .filters-wrapper {
    transition: opacity 1s; }

@font-face {
  font-family: 'Saira Light';
  src: url("fonts/Saira-Light.ttf") format("truetype"); }

a {
  font-weight: bold;
  color: #c1422e;
  text-decoration: none; }
  a:hover {
    color: #ff2200; }
  a:visited {
    color: #915047; }

h1, h2, h3, h4 {
  margin: 0; }

iframe {
  border: none; }

input {
  border-radius: 2px;
  border: 1px solid #c1422e;
  background-color: #262823;
  color: #c1422e;
  padding: 5px; }
  input::placeholder {
    color: #89847a; }

input:focus, input:active, select:focus, select:active, option:focus, option:active {
  outline: none;
  box-shadow: none;
  background-color: #c1422e;
  color: #fff; }
  input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, select:active::-webkit-input-placeholder, option:focus::-webkit-input-placeholder, option:active::-webkit-input-placeholder {
    color: #de8577; }

input[type="checkbox"] {
  opacity: 0;
  width: 2rem;
  height: 2rem;
  margin: 0 5px 0 0;
  z-index: 1;
  position: relative; }
  input[type="checkbox"]:checked + label::before {
    background-color: #c1422e; }
  input[type="checkbox"]:checked + label::after {
    background-size: 100% 100%;
    background-color: #fff;
    -webkit-mask: url("icons/fa-check.svg"); }
  input[type="checkbox"] + label::before, input[type="checkbox"] + label::after {
    content: '';
    background-color: #262823;
    background-position: center center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 0 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border: 1px solid #c1422e;
    border-radius: 2px;
    line-height: 2rem;
    cursor: pointer; }

.hidden {
  display: none; }

.embed-wrapper {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 4rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }

.headless .embed-wrapper {
  top: 0; }

.fg-viewer-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  height: calc(75% - 7rem); }
