@import 'scss/variables';

@import 'scss/reset';
@import 'scss/tag-button';

body > svg {
    position: absolute;
    transform: translateX(-50%);
    margin-left: 50%;
    opacity: 0.5;
    margin-top: $padding-space;
    height: 25%;
    overflow: visible;
}
.flash-controls {
    background: linear-gradient(to bottom, #{$black} 0%,#{$gray} 100%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    .tag-button {
        position: relative;
        height: 2rem;
        border: 1px solid darken($orange, 30%);
        box-shadow: 0 1px 2px 0 $yellow;
        svg {
            height: 2rem;
            display: block;
        }

        &:after {
            content: attr(title);
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2rem;
            color: $yellow;
        }
    }
}
