@import 'scss/variables';
@import 'scss/mixins';

@import 'scss/reset';

@import 'scss/icon-button';
@import 'scss/tag-button';
@import 'scss/bars';
@import 'scss/overlay';

@import 'scss/toolbar';
@import 'scss/list';
@import 'scss/tabs';
@import 'scss/state';

@font-face {
    font-family: 'Saira Light';
    src: url('fonts/Saira-Light.ttf') format('truetype');
}

a {
    font-weight: bold;
    color: $orange;
    text-decoration: none;
    &:hover {
        color: $flashy-orange;
    }
    &:visited {
        color: $faded-orange;
    }
}

h1, h2, h3, h4 {
    margin: 0;
}

iframe {
    border: none;
}

input {
    border-radius: 2px;
    border: 1px solid $orange;
    background-color: $dark;
    color: $orange;
    padding: $tag-radius;
    &::placeholder {
        color: $yellow;
    }
}

select {
    @extend %tag;
}

input, select, option {
    &:focus, &:active {
        outline: none;
        box-shadow: none;
        background-color: $orange;
        color: $white;
        &::-webkit-input-placeholder {
            color: lighten($orange, 20%);
        }
    }
}

input[type="checkbox"] {
    opacity: 0;
    width: 2rem;
    height: 2rem;
    margin: 0 5px 0 0;
    z-index: 1;
    position: relative;

    &:checked + label {
        &::before {
            background-color: $orange;
        }
        &::after {
            background-size: 100% 100%;
            background-color: $white;
            -webkit-mask: url('icons/fa-check.svg');
        }
    }

    & + label {
        &::before, &::after {
            content: '';
            background-color: $dark;
            background-position: center center;
            background-origin: border-box;
            background-repeat: no-repeat;
            background-size: 0 0;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 2rem;
            height: 2rem;
            border: 1px solid $orange;
            border-radius: 2px;
            line-height: 2rem;
            cursor: pointer;
        }
    }
}

.hidden {
    display: none;
}

.embed-wrapper {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: $filters-height-collapsed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.headless {
    .embed-wrapper {
        top: 0;
    }
}

.fg-viewer-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: $filters-height;
    height: calc(#{100% - $tab-panel-height} - #{$filters-height});
}
