@import 'variables';

.score-wrapper, .bars {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bars {
    height: 2.5rem;
    padding: 3px;
    width: calc((0.6rem + 6px) * 9 + 6px + 0.75rem);
    border-radius: 8px;
    border: 1px solid;
    margin-right: $padding-space;
    .bar {
        background-color: darken($orange, 10%);
        margin: 0 3px;
        height: 92%;
        width: 8px;
        border-radius: 2px;
        &:last-child {
            background-color: $orange;
            width: 10px;
            height: 100%;
        }
    }
}
