@import 'mixins';

.icon-button {
            flex: 1;
            position: relative;
            display: block;
            padding: 0 $padding-space 0 $padding-space;
            margin-right: -$padding-space;
            left: 0;
            top: 0;
            &.hidden {
                display: none;
            }
            svg {
                width: 2rem;
                height: 2rem;
            }
            &.chrome-warning, &.flash-warning {
                &:after {
                    content: '!';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    color: $dark;
                    line-height: 2rem;
                    font-size: 22px;
                    $outline-width: 1px;
                    @include text-outline(2px, $orange);
                }
                &:hover:after {
                    @include text-outline(2px, $flashy-orange);
                }
            }
        }
