@import 'mixins';

.games-wrapper {
    width: 100%;
    height: 100%;
    flex: 1;
    white-space: nowrap;
    overflow-y: hidden;
    background: linear-gradient(to bottom, #{$black} 0%,#{$gray} 100%);
    .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        pointer-events: none;
        svg {
            opacity: 0.06;
        }
    }
    .loading-icon {
        position: absolute;
        left: 50%;

        height: calc(100vh - #{$filters-height - 2 * $padding-space} - #{$tab-panel-height / ($tab-panel-height * 0 + 1)}vh);
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        &.hidden {
            display: none;
        }
        > div {
            flex: 1;
        }
        img {
            filter: invert(0.53) sepia(0.1) saturate(3.43) hue-rotate(2deg) brightness(0.96) contrast(0.86);
            &:after {
                content: "Loading...";
            }
        }
    }
    .tags {
        white-space: normal;
    }
    .mithril-infinite__content, .mithril-infinite__page, .mithril-infinite__padding-before, .mithril-infinite__padding-after {
        display: inline-block;
    }
    .fg-infinite-scroll, .mithril-infinite__page, .mithril-infinite__scroll-content, .mithril-infinite__content, .mithril-infinite__pages {
        height: 100%;
        vertical-align: top;
    }
    .game-item {
        display: inline-block;
        position: relative;
        width: 100vw;
        height: 100%;
        .container {
            height: calc(100% - #{3 * $padding-space});
            display: flex;
            flex-direction: column;
            padding: #{2 * $padding-space} $padding-space $padding-space $padding-space;
        }
    }
    .creator, h1 {
        text-align: center;
    }

    h1 {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .description {
        text-align: justify;
        width: calc(100% - #{2 * $padding-space});
    }

    .description, .tags {
        flex: 1;
        overflow: auto;
        white-space: normal;
    }

    .difficulty {
        margin: 0 0 $padding-space $padding-space;
        .title {
            text-align: left;
        }
    }

    .notes, .types-wrapper {
        margin-left: $padding-space;
    }

    .types-wrapper {
        svg {
            width: $svg-size;
            vertical-align: -3px;
            margin: 0 3px;
        }
    }

    .entry, .tags, .description {
        padding: $padding-space; 
    }

    .entry {
        display: flex;
        flex-direction: row;
        position: relative;
        svg {
            width: $svg-size;
            height: 100%;
            margin-right: 8px;
        }
    }

    .play {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        .tag-button {
            text-transform: uppercase;
            font-weight: bold;
            .circle {
                svg {
                    margin-left: 0;
                }
            }
        }
    }
    .error {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $orange;
        font-size: 24px;
    }
}
