@import 'variables';

%tag {
    padding: $tag-padding;
    border-radius: $tag-radius;
    margin: 5px 10px;
    background-color: $orange;
    color: $white;
    display: inline-block;
    border: none;
    font-weight: normal;
    a, a:visited {
        color: $white;
    }
}

%circle {
    $circle-size: calc(#{$svg-size} + #{2 * $circle-radius});
    background-color: darken($orange, 10%);
    border-radius: $circle-size;
    height: $circle-size;
    width: $circle-size;
    display: inline-block;
    margin-left: $padding-space;
    box-shadow: 0 1px 2px 0 $dark inset;
    svg {
        height: $svg-size;
        width: $svg-size;
        margin: $circle-radius 0 0 $circle-radius;
    }
}

%expandable-circle {
    @extend %circle;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
}

%creator-circle {
    @extend %circle;
    &.hidden {
        width: 0;
        height: calc(#{$svg-size} + #{$circle-radius});
    }
}

@mixin text-outline($width, $color) {
    text-shadow: $width $width 0 $color, $width -$width 0 $color, -$width $width 0 $color, -$width -$width 0 $color, $width 0 0 $color, 0 $width 0 $color, -$width 0 0 $color, 0 -$width 0 $color
}
