@import 'mixins';

.overlay {
    position: fixed;
    left: 0;
    z-index: 3;
    top: $filters-height;
    height: calc(100% - #{$filters-height});
    background-color: rgba($black, 0.6);
    display: none;
    width: 100%;
    &:hover {
        display: flex;
    }
    .info-box {
        padding: $padding-space;
        box-shadow: 0 20px 48px 0 #{$black};
        background-color: rgba($black, 0.9);
        height: 75%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
            flex-direction: row;
            padding-bottom: 1rem;
            svg {
                width: 4rem;
                margin-right: $padding-space;
            }
            .title {
                h1 {
                    display: inline-block;
                }
                .version, .validation {
                    margin-left: 1rem;
                }
                .validation {
                    color: $orange;
                    font-weight: bold;
                }
                .subtitle {
                    display: block;
                    font-style: italic;
                    b {
                        color: $orange;
                    }
                }
            }
        }
        p {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .pane {
            ul {
                padding-left: 20px;
                .control {
                    position: relative;
                    padding-bottom: $padding-space;
                    &.checkbox {
                        display: flex;
                        align-items: center;
                    }
                    input {
                        &.dimensions {
                            text-align: center;
                            width: 4rem;
                            margin-right: 5px;
                        }
                        &.path {
                            width: 50%;
                        }
                    }
                }
                a.tag-button {
                    margin-left: 0;
                }
            }
        }
        ul {
            list-style: none; 
            .warning {
                font-weight: bold;
                color: $orange;
            }
            &.symbol-list {
                overflow: auto;
                li {
                    margin-bottom: $padding-space;
                    position: relative;
                    .title {
                        font-weight: bold;
                    }
                    svg {
                        width: $svg-size;
                        position: absolute;
                        left: -$padding-space - $svg-size;
                    }
                }
            }
        }
        &:after {
            content: '';
            bottom: 100%;
            right: 1rem;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            border-color: rgba($black, 0);
            border-bottom-color: rgba($black, 0.9);
            border-width: 1rem;
            margin-left: -1rem;
        }
    }
    &.chrome-warning .info-box, &.flash-warning .info-box {
        .header {
            .icon {
                position: relative;
                &:after {
                    content: '!';
                    position: absolute;
                    color: $dark;
                    left: 0;
                    width: calc(100% - #{$padding-space});
                    text-align: center;
                    line-height: 4rem;
                    font-weight: bold;
                    font-size: 40px;
                    @include text-outline(3px, $yellow);
                }
            }
        }
        &:after {
            right: $filters-height;
        }
    }

    &.flash-warning ~ .chrome-warning {
        .info-box:after {
            right: 10rem;
        }
    }
    &.settings .info-box {
        .pane {
            flex: 1;
            overflow: auto;
        }
        .buttons {
            display: flex;
            margin-top: 5px;
        }
        &:after {
            right: 4rem;
        }
    }
}
