@import 'variables';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    background-color: $dark;
    color: $yellow;
    font-family: Saira Light, Helvetica Neue, Arial;
}
