.game {
    &.fg-viewer-wrapper {
        padding-top: $filters-height-collapsed;
        height: calc(100% - #{$filters-height-collapsed});

        .toolbar {
            height: 2rem;       
            .game-controls {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }

        .current-filter, .sort-filter, .fg-infinite-scroll, .filters-wrapper {
            opacity: 0;
            pointer-events: none;
        }

        .info {
            cursor: not-allowed;
            .icon-button {
                &.info, &.settings, &.chrome-warning, &.flash-warning {
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
    }
    .embed-wrapper {
        visibility: visible;
    }
    &.transition {
        .toolbar .game-controls {
            visibility: visible;
        }
    }
    &:not(.transition) {
        .current-filter, .sort-filter, .fg-infinite-scroll, .filters-wrapper {
            visibility: hidden;
        }
    }
}

.fg-viewer-wrapper {
    transition: height 1s, padding-top 1s;
    .toolbar {
        transition: height 1s;
    }
    .game-controls, .current-filter, .sort-filter, .fg-infinite-scroll, .info a.icon-button, .filters-wrapper {
        transition: opacity 1s;
    }
}

.flashtest {
    visibility: hidden;
    position: fixed;
}
