@import 'mixins';

.filters-wrapper {
    position: fixed;
    bottom: 0;
    background-color: $dark;
    height: $tab-panel-height;
    display: flex;
    flex-direction: column;
    width: 100%;

    .tabs {
        display: flex;
        flex-direction: row;
        height: $tab-height;
        background-color: $gray;
        .tab-title {
            height: 100%;
            line-height: $tab-height;
            padding: 0 $padding-space;
            cursor: pointer;
            margin: 1px 1px 0 1px; 
            &.selected {
                margin: 0;
                color: $orange;
                z-index: 1;
                background-color: $dark;
                border-radius: 8px 8px 0 0;
                border-top: 1px solid;
                border-left: 1px solid;
                border-right: 1px solid;
            }
            svg {
                width: $svg-size;
                height: 100%;
                margin-right: $padding-space;
            }
            span {
                vertical-align: 1rem;
            }
        }

    }
    .tab-panel {
        flex: 1;
        color: $orange;
        margin-top: -1px;
        border-top: 1px solid;
        padding-top: $padding-space;
        height: 100%;
        min-height: 0;
    }
    .tab-wrapper {
        display: none;
        overflow: auto;
        height: 100%;
        &.selected {
            display: block;
        }
    }
}
