@import 'mixins';

.tag-button {
    @extend %tag;
    cursor: pointer;
    &:hover, &:visited {
        color: $white;
        a {
            color: $white;
        }
    }
    &.creator {
        a {
            font-weight: normal;
        }
    }
    .title {
        vertical-align: 1px;
    }
    .circle, .circle-left {
        @extend %circle;
    }
    span.circle-left, div.circle-left {
        margin-left: 0;
        margin-right: $padding-space;
    }
    .circle-expandable {
        @extend %expandable-circle;
    }
    .circle-creator {
        @extend %creator-circle;
    }
    svg.close {
        height: $svg-size;
        margin-left: $padding-space;
    }
}
