@import 'mixins';

.toolbar {
    position: fixed;
    height: $filters-height - 2 * $padding-space;
    top: 0;
    background-color: $dark;
    padding: $padding-space;
    width: calc(100% - #{2 * $padding-space});
    display: flex;
    box-shadow: 0 5px 20px -1px #{$yellow};
    flex-direction: row;
    z-index: 3;
    overflow: hidden;

    .current-filter, .sort-filter {
        flex: 1;
    }
    .current-filter-title {
        .count {
            margin-left: $padding-space;
        }
    }
    .sort-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        .sort-order {
            width: $svg-size;
            height: $svg-size;
            margin-left: $padding-space;
            cursor: pointer;
            color: $orange;
            padding: $tag-padding;
            border: 1px solid;
            border-radius: $tag-radius;
        }
    }
    > .info {
        position: absolute;
        top: $padding-space;
        right: $padding-space;
        cursor: pointer;
        bottom: 0;
        display: flex;
        flex-direction: row-reverse;
        a.icon-button.info:hover ~ .overlay.info, a.icon-button.chrome-warning:hover ~ .overlay.chrome-warning, a.icon-button.flash-warning:hover ~ .overlay.flash-warning, a.icon-button.settings:hover ~ .overlay.settings {
            display: flex;
        }
    }
    .game-controls, .catalog {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    .game-controls {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        right: 7rem;
        > .title {
            flex: 1;
            text-align: center;
            overflow: hidden;
            h3, span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .flash-controls {
            max-height: $filters-height-collapsed;
            .tag-button {
                margin-right: 0;
                svg {
                    height: 2rem;
                    display: block;
                }
            }
        }
    }
}
