$filters-height: 7rem;
$filters-height-collapsed: 4rem;
$tab-panel-height: 25%;
$tab-height: 3rem;
$padding-space: 1rem;
$svg-size: 1.25rem;
$circle-radius: 3px;
$tag-padding: 8px;
$tag-radius: 5px;

$black: #131411;
$dark: #262823;
$gray: #353832;
$flashy-orange: #ff2200;
$orange: #c1422e;
$faded-orange: #915047;
$yellow: #89847a;
$white: #fff;

